body {
    position: relative;
    
    right: -5%;
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 5;
    color: gray;

  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  li:hover {
    background-color: #f0f0f0;
  }